<!DOCTYPE html>
<head>
  <link rel='stylesheet' href='../stylesheets/style.css' />

</head>


<body>

<h1>Recipe Name:<%=  recipe.name %></h1>

<h2>Recipe CookTime:<%=  recipe.cookTime %></h2>

<h3> Serves How many<%=recipe.serves %></h3>

<a class="btn btn-info" href="/recipe/<%= recipe._id %>/edit" role="button">Edit the Recipe</a>

<br>
<br>
<form action="/recipes/<%=recipe._id%>/newreview" method="POST">
  <button type="submit">Create a New Review</button>
  <input type="number" name="rating" id="rating" placeholder="Star Rating 1-5">
  <input type="text" name="review" id="review" placeholder="Write Your Review here!">
  <% if(typeof(errorMessage) != "undefined") {
    %>
    <div class="error-message"><%=errorMessage%> </div>
  <%}%>
</form>







</body>
